.header {
  &_hidden {
    @media (min-width: 992px) {
      position: absolute;
      top: -100%;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__upper-menu {
    column-gap: 16px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $tableWidth) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__upper-menu_hidden {
    display: none;
  }

  &_mode_primary {
    background-color: $color-default;
    box-shadow: inset 0 -3px 0 -1px $color-shadow;
  }

  &_mode_secondary {
    box-shadow: inset 0 1px 0 0 #d9fff5;
    background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  }
}
