.collapse {
  display: none;

  @media (min-width: $tableWidth) {
    display: block;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    max-height: 160px;
    overflow-y: hidden;

    @media (min-width: 992px) {
      column-gap: 32px;
    }
  }

  &__item {
    margin-bottom: 16px;
    height: 72px;

    img {
      @media (min-width: 992px) {
        width: 240px;
      }
    }
  }

  &__link {
    display: inline-block;
    height: 72px;
  }

  &__label {
    margin-top: 24px;
  }
}
