.navigation {
  flex: 1 1 auto;

  &__list {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    list-style: none;

    @media (min-width: $tableWidth) {
      margin-left: 24px;
    }
  }

  &__item {
    margin-bottom: 24px;

    @media (min-width: $tableWidth) {
      margin-bottom: 32px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    display: inline-block;
    max-width: 320px;
    color: $color-text;
    font-size: $font-size_sm;
    line-height: $line-height_md;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.6s;
    transition-property: color;
    outline: none;
  }

  &__link::before {
    content: '';
    position: absolute;
    transform: translate(-16px, -4px);
    width: 4px;
    height: 32px;
    background-color: $color-border_left;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;

    @media (min-width: $tableWidth) {
      transform: translate(-24px, -4px);
    }
  }

  &__link:hover::before {
    opacity: 1;
  }

  &__link:hover {
    color: $color-grey;
  }
}
