.prices {
  &__slide {
    width: 260px !important;
  }

  &__header {
    margin-bottom: 16px;

    @media (min-width: $tableWidth) {
      margin-bottom: 24px;
    }
  }

  &__title {
    padding: 16px;
    margin: 0;

    @media (min-width: $tableWidth) {
      padding: 16px 24px;
    }

    @media (min-width: 992px) {
      padding: 16px 32px;
    }
  }

  &__item {
    position: relative;
    border-radius: 6px;
    background-color: $color-default;
  }

  &__table {
    padding: 16px;
  }

  &__btn {
    padding: 4px 12px 4px 12px;
    position: absolute;
    transform: translate(120px, -48px);
    width: 119px;
    height: 32px;
    color: $color-default;
    background-color: $color-pink;
    border-radius: 16px;
    font-weight: bold;
    font-size: $font-size_xs;
    line-height: $line-height_md;
    letter-spacing: -0.15px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      transform: translateX(8px);
      width: 24px;
      height: 24px;
      background-image: url('../img/arrow_2.svg');
    }
  }

  &__collapse {
    padding: 0 24px;

    @media (min-width: 992px) {
      padding: 0 32px;
    }
  }
}
