.price-info {
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height_sm;
  letter-spacing: 0.2px;
  text-align: left;
  color: $color-text;

  @media (min-width: $tableWidth) {
    width: 421px;
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: $tableWidth) {
      height: 60px;
    }
  }
}
