.services {
  &__header {
    margin-bottom: 16px;

    @media (min-width: $tableWidth) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 4px;
  }

  &__wrapper {
    padding-left: 16px;
    padding-bottom: 32px;
  }

  &__item {
    position: relative;
    border-radius: 6px;
    background-color: #ffffff;
  }

  &__text {
    margin: 0;
  }

  &__type {
    padding: 16px 16px 0 16px;
  }

  &__price {
    padding: 16px 16px 0 16px;
  }

  &__date {
    padding: 16px;
  }

  &__btn {
    position: absolute;
    transform: translate(110px, -42px);
    width: 119px;
    height: 32px;
    background-color: $color-pink;
    border-radius: 16px;
    color: $color-default;
    text-align: left;
    padding: 4px 0 4px 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
  }

  &__btn::after {
    content: "";
    position: absolute;
    background-image: url('../img/arrow_2.svg');
    width: 24px;
    height: 24px;
    transform: translate(10px, -1px);
  }
}
