.services {
  &__slide {
    height: auto !important;
  }

  &__swiper {
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 16px;

    @media (min-width: $tableWidth) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 4px;
  }

  &__wrapper {
    padding-left: 16px;
    padding-bottom: 32px;
  }

  &__fadecopy {
    position: absolute;
    width: 24px;
    height: 200px;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;

    @media (min-width: $desktopWidth) {
      display: none;
    }
  }

  &__item {
    position: relative;
    border-radius: 6px;
    background-color: #ffffff;
    height: 100%;
  }

  &__text {
    margin: 0;
  }

  &__type {
    padding: 16px 16px 0 16px;
  }

  &__price {
    padding: 16px 16px 0 16px;
  }

  &__date {
    padding: 16px;
  }

  &__btn {
    position: absolute;
    // transform: translate(110px, -42px);
    right: 8px;
    bottom: 16px;
    width: 119px;
    height: 32px;
    background-color: $color-pink;
    border-radius: 16px;
    color: $color-default;
    text-align: left;
    padding: 0;
    padding: 4px 0 4px 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
  }

  &__btn::after {
    content: '';
    position: absolute;
    background-image: url('../img/arrow_2.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    transform: translate(20px, 6px);
    transition: transform 0.6s ease;
  }

  &__btn:hover::after {
    transform: translate(25px, 6px);
  }

  &__table {
    padding: 0 24px;
    margin-bottom: 24px;

    @media (min-width: $desktopWidth) {
      padding: 0 32px;
      margin-bottom: 32px;
    }
  }

  &__price-info {
    padding: 0 16px;

    @media (min-width: $tableWidth) {
      padding: 0 24px;
    }

    @media (min-width: $desktopWidth) {
      padding: 0 32px;
    }
  }
}
