.side-menu {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;

  &__header {
    margin-bottom: 4px;
    padding: 0 16px;
    column-gap: 16px;
  }

  &__navigation {
    margin-bottom: 32px;
  }

  &__contacts {
    margin-left: 16px;
    margin-bottom: 8px;
    column-gap: 16px;
  }

  &__lang {
    margin-left: 16px;
    margin-bottom: 32px;
  }

  // &_unactive {
  //   position: absolute;
  //   top: -100%;
  //   visibility: hidden;
  //   opacity: 0;
  // }

  // &_active {
  //   position: absolute;
  //   top: 0;
  //   visibility: visible;
  //   opacity: 1;
  // }
}
