.side-menu {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  box-shadow: 16px 0px 52px 0px $color-shadow_navy-blue,
    -2px 0px 4px 0px $color_shadow_light-purple;
  z-index: 100;
  background-color: $color-default;
  overflow-y: auto;

  @media (min-width: $tableWidth) {
    width: 320px;    
  }

  &__header {
    margin-bottom: 4px;
    padding: 0 16px;
    column-gap: 16px;
  }

  &__navigation {
    margin-bottom: 32px;
  }

  &__contacts {
    margin-left: 16px;
    margin-bottom: 8px;
    column-gap: 16px;
  }

  &__lang {
    margin-left: 16px;
    margin-bottom: 32px;
  }

  &_unactive {
    position: fixed;
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
    transition: 0.6s transform, 0.6s visibility, 0.6s opacity;
  }

  &_active {
    position: fixed;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
