.upper-menu {
  display: flex;
  align-items: center;
  height: 88px;
  list-style: none;

  @media (min-width: $desktopWidth) {
    height: auto;
    box-shadow: none;
  }

  &__btn {
    padding: 0;
    transition: 0.2s box-shadow;

    &_closed {
      @media (min-width: $desktopWidth) {
        display: none;
      }
    }
  }

  &__btn:hover,
  &__btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-shadow_actions_translucent,
      0 0 10px 2px $color-shadow_actions;
  }

  &__logo {
    flex: 1 1 auto;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background-image: url('../img/divider.png');
  }

  &__divider_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &__divider_visible {
    @media (min-width: 768px) {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }

  &_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &_visible {
    @media (min-width: $desktopWidth) {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}
