.upper-menu {
  display: flex;
  align-items: center;
  height: 88px;
  list-style: none;

  @media (min-width: $desktopWidth) {
    height: auto;
    box-shadow: none;
  }

  &__btn {
    padding: 0;
  }

  &__logo {
    flex: 1 1 auto;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background-image: url('../img/divider.png');
  }

  &__divider_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &__divider_visible {
    @media (min-width: 768px) {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }

  &_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &_visible {
    @media (min-width: $desktopWidth) {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}
