.page {
  font-family: $mainFont;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.2px;
  background-color: $color-page;

  &__header {
    margin-bottom: 24px;
    padding: 0 16px;

    @media (min-width: $tableWidth) {
      padding: 0 24px;
    }
  }

  &__footer {
    @media (min-width: $tableWidth) {
      padding: 32px 24px;
    }

    @media (min-width: 992px) {
      padding: 32px 32px;
    }
  }
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  @media (min-width: $desktopWidth) {
    flex: 0 1 1120px;
  }
}

.container {
  @media (min-width: $desktopWidth) {
    display: flex;
    justify-content: center;
  }
}
