$mainFont: 'TTLakes', sans-serif;

$desktopWidth: 1440px;
$tableWidth: 768px;
$phoneWidth: 360px;
$smPhoneWidth: 320px;

// Pagination color
$pagination-base: #dddddd;
$pagination-active: #b5b6bc;

// Main color
$color-text: #1b1c21;
$color-page: #f8f8f8;
$color-default: #ffffff;
$color-grey: #7e7e82;
$color-pink: #ff3e79;

// Shadow color
$color-shadow: #d9fff5;
$color-shadow_navy-blue: #0e185033;
$color_shadow_light-purple: #454f7e05;

// Border color
$color-border_left: #41f6d7;

// Pagination color
$color-bullet: #dddddd;
$color-bullet_active: #b5b6bc;

// font-size
$font-size_xs: 12px;
$font-size: 14px;
$font-size_sm: 16px;
$font-size_md: 24px;
$font-size_lg: 28px;

// line-height
$line-height_xs: 16px;
$line-height: 18px;
$line-height_sm: 20px;
$line-height_md: 24px;
$line-height_lg: 32px;
$line-height_xl: 40px;
