.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  &_hidden {
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
  }

  &_visible {
    @media (min-width: 768px) {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }

  @media (min-width: $desktopWidth) {
    vertical-align: middle;
  }
}
