.label {
  display: inline-block;
  z-index: 100;
  width: 132px;
  font-size: $font-size_sm;
  font-weight: 500;
  line-height: $line-height_md;
  letter-spacing: -0.2px;
  text-align: left;
  text-decoration: none;
  color: black;

  &__img {
    margin-right: 8px;
    transition-duration: 1s;
    transition-property: transform;
  }
}
