.lang {
  font-size: $font-size_sm;
  line-height: $line-height_md;
  letter-spacing: -0.2px;
  text-align: left;

  &__list {
    display: flex;
    column-gap: 7px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    flex-basis: 25px;
    color: $color-text;
    transition: 0.6s color;
  }

  &__item_active {
    color: $color-grey;
  }

  &__item:hover {
    color: $color-grey;
  }
}
