.swiper {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.swiper_mode_primary .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}

.swiper_mode_primary .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: $color-bullet;
}

.swiper_mode_primary .swiper-pagination-bullet-active {
  background-color: $color-bullet_active;
}
