.table {
  border-spacing: 0;
  height: 200px;

  &__row:last-child &__data {
    padding-bottom: 0;
  }

  &__header {
    padding: 0;
    font-size: $font-size;
    font-weight: 500;
    line-height: $line-height_xs;
    letter-spacing: 0;
    text-align: left;
    color: $color-grey;
  }
  &__data {
    padding: 0;
    padding-bottom: 16px;
    font-size: $font-size;
    font-weight: 400;
    line-height: $line-height;
    letter-spacing: 0.2px;
    text-align: left;
    color: $color-text;
  }
}
