.title {
  text-align: left;

  &_size_xl {
    font-size: $font-size_md;
    line-height: $line-height_lg;
  }

  &_size_lg {
    font-size: $font-size_lg;
    line-height: $line-height_xl;
  }

  &_size_md {
    font-size: $font-size_sm;
    line-height: $line-height_md;
  }

  &_size_xs {
    font-size: $font-size;
    line-height: $line-height_xs;
  }

  &_mode_primary {
    font-weight: bold;
    border-left: 4px solid $color-border_left;
    letter-spacing: -0.6px;
  }

  &_mode_secondary {
    font-weight: 400;
    letter-spacing: -0.2px;
    color: $color-grey;
  }

  &_mode_ternary {
    font-weight: 500;
    letter-spacing: 0;
    color: $color-grey;
  }
}
